<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/ajax.js"></script>
<h1>Ajuda</h1>
<h4>Como usar a Calculadora?</h4>
Digite qualquer permutação de letras que contenha apenas as letras maiúsculas A, C, G e T (para DNA) ou A, C, G e U (para RNA). Observe que as letras T e U não podem estar juntas.

O recurso Ácidos só está disponível para RNAs.

<h4>Contato</h4>
<address>
	<strong>IFRS Rio Grande</strong><br>
	Rua Engenheiro Alfredo Huch, 475, Salgado Filho<br>
	Rio Grande, RS<br>
	96201-460<br>
	Brasil<br>
	Telefone: (53) 3233-8681
</address>
<address>
	<strong>Arthur Aguiar Estigarribia</strong><br>
	<a href="mailto:arthuraguiarestigarribia@gmail.com">arthuraguiarestigarribia@hotmail.com</a>
</address>